.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.logo img{
    width: 100%;
    border-radius: 50%;

}

.menu{
    margin-bottom: 0;
}

.nav__item a{
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1.1rem;

}

.nav__item a:hover{
    color: inherit;
}

.nav__item {
    color:var(--primary-color);
}

.mobile__menu{
    font-size:1.3rem;
    color: var(--heading-color);
    display: none;
}

.sticky__header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 1;
}

@media screen and (max-width:992px){
    .logo img{
        width: 70%;
    }
    
    .navigation{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.411);
        z-index: 1;
        display: none;
    }

    .menu{
        position: absolute;
        top:0;
        right: 0;
        width: calc(100% - 75%);
        width: 100%;
        height: 20%;
        background: #fff;
        flex-direction: column;
        line-height: .5rem;
        justify-content: center;
        z-index: 1;

    }

    .show__menu{
        display: block;
    }

    .mobile__menu{
        display: block;
    }
}